<!-- password-generator.component.html -->
<div class="container">
  <div>
    <label for="passwordLength">Password Length:</label>
    <input type="number" [(ngModel)]="passwordLength" id="passwordLength" min="1" required>
  </div>
  <div>
    <button (click)="generatePassword()">Generate Password</button>
  </div>
  <div *ngIf="generatedPassword">
    <h3>Generated Password:</h3>
    <p>
      {{ generatedPassword }}
    </p>
    <button *ngIf="generatedPassword" (click)="copyToClipboard()">Copy to Clipboard</button>
    <div *ngIf="copiedMessage">{{ copiedMessage }}</div>
  </div>
</div>

